# Introduction to Modeling Libraries

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Interfacing Between pandas and Model Code

In [3]:
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [4]:
data.columns

Index(['x0', 'x1', 'y'], dtype='object')

In [5]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [6]:
data.values.dtype

dtype('float64')

In [7]:
df2 = pd.DataFrame(data.values, columns=['one', 'two', 'three'])
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

In [8]:
df3 = data.copy()
df3['strings'] = ['a', 'b','c','d','e']
df3

   x0    x1    y strings
0   1  0.01 -1.5       a
1   2 -0.01  0.0       b
2   3  0.25  3.6       c
3   4 -4.10  1.3       d
4   5  0.00 -2.0       e

In [9]:
df3.values

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [10]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [11]:
model_cols = ['x0', 'x1']
data.loc[:, model_cols].values

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

In [12]:
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [13]:
dummies = pd.get_dummies(data.category, prefix='category')
data_with_dummies = data.drop('category', axis=1).join(dummies)
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

## Creating Model Descriptions with Patsy

y ~ x0 + x1

In [14]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [15]:
import patsy
y, X = patsy.dmatrices('y ~ x0 + x1', data)

In [16]:
y

DesignMatrix with shape (5, 1)
     y
  -1.5
   0.0
   3.6
   1.3
  -2.0
  Terms:
    'y' (column 0)

In [17]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0     x1
          1   1   0.01
          1   2  -0.01
          1   3   0.25
          1   4  -4.10
          1   5   0.00
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'x1' (column 2)

In [18]:
np.asarray(y)

array([[-1.5],
       [ 0. ],
       [ 3.6],
       [ 1.3],
       [-2. ]])

In [19]:
np.asarray(X)

array([[ 1.  ,  1.  ,  0.01],
       [ 1.  ,  2.  , -0.01],
       [ 1.  ,  3.  ,  0.25],
       [ 1.  ,  4.  , -4.1 ],
       [ 1.  ,  5.  ,  0.  ]])

In [20]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]

DesignMatrix with shape (5, 2)
  x0     x1
   1   0.01
   2  -0.01
   3   0.25
   4  -4.10
   5   0.00
  Terms:
    'x0' (column 0)
    'x1' (column 1)

In [21]:
coef, resid, _, _ = np.linalg.lstsq(X, y)

D:\python\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  """Entry point for launching an IPython kernel.

In [22]:
coef

array([[ 0.3129],
       [-0.0791],
       [-0.2655]])

In [23]:
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

### Data Transformations in Patsy Formulas

In [24]:
y, X = patsy.dmatrices('y ~ x0 + np.log(np.abs(x1) + 1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  x0  np.log(np.abs(x1) + 1)
          1   1                 0.00995
          1   2                 0.00995
          1   3                 0.22314
          1   4                 1.62924
          1   5                 0.00000
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'np.log(np.abs(x1) + 1)' (column 2)

In [25]:
y, X = patsy.dmatrices('y ~ standardize(x0) + center(x1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  standardize(x0)  center(x1)
          1         -1.41421        0.78
          1         -0.70711        0.76
          1          0.00000        1.02
          1          0.70711       -3.33
          1          1.41421        0.77
  Terms:
    'Intercept' (column 0)
    'standardize(x0)' (column 1)
    'center(x1)' (column 2)

In [26]:
new_data = pd.DataFrame({
    'x0': [6, 7, 8, 9],
    'x1': [3.1, -0.5, 0, 2.3],
    'y': [1, 2, 3, 4]})
new_X = patsy.build_design_matrices([X.design_info], new_data)
new_X

[DesignMatrix with shape (4, 3)
   Intercept  standardize(x0)  center(x1)
           1          2.12132        3.87
           1          2.82843        0.27
           1          3.53553        0.77
           1          4.24264        3.07
   Terms:
     'Intercept' (column 0)
     'standardize(x0)' (column 1)
     'center(x1)' (column 2)]

In [27]:
y, X = patsy.dmatrices('y ~ I(x0 + x1)', data)
X

DesignMatrix with shape (5, 2)
  Intercept  I(x0 + x1)
          1        1.01
          1        1.99
          1        3.25
          1       -0.10
          1        5.00
  Terms:
    'Intercept' (column 0)
    'I(x0 + x1)' (column 1)

### Categorical Data and Patsy

In [28]:
data = pd.DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a', 'b', 'a', 'b'],
    'key2': [0, 1, 0, 1, 0, 1, 0, 0],
    'v1': [1, 2, 3, 4, 5, 6, 7, 8],
    'v2': [-1, 0, 2.5, -0.5, 4.0, -1.2, 0.2, -1.7]
})
y, X = patsy.dmatrices('v2 ~ key1', data)
X

DesignMatrix with shape (8, 2)
  Intercept  key1[T.b]
          1          0
          1          0
          1          1
          1          1
          1          0
          1          1
          1          0
          1          1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)

In [29]:
y, X = patsy.dmatrices('v2 ~ key1 + 0', data)
X

DesignMatrix with shape (8, 2)
  key1[a]  key1[b]
        1        0
        1        0
        0        1
        0        1
        1        0
        0        1
        1        0
        0        1
  Terms:
    'key1' (columns 0:2)

In [30]:
y, X = patsy.dmatrices('v2 ~ C(key2)', data)
X

DesignMatrix with shape (8, 2)
  Intercept  C(key2)[T.1]
          1             0
          1             1
          1             0
          1             1
          1             0
          1             1
          1             0
          1             0
  Terms:
    'Intercept' (column 0)
    'C(key2)' (column 1)

In [31]:
data['key2'] = data['key2'].map({0: 'zero', 1: 'one'})
data
y, X = patsy.dmatrices('v2 ~ key1 + key2', data)
X
y, X = patsy.dmatrices('v2 ~ key1 + key2 + key1:key2', data)
X

DesignMatrix with shape (8, 4)
  Intercept  key1[T.b]  key2[T.zero]  key1[T.b]:key2[T.zero]
          1          0             1                       0
          1          0             0                       0
          1          1             1                       1
          1          1             0                       0
          1          0             1                       0
          1          1             0                       0
          1          0             1                       0
          1          1             1                       1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)
    'key1:key2' (column 3)

## Introduction to statsmodels

### Estimating Linear Models

In [32]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [33]:
def dnorm(mean, variance, size=1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * np.random.randn(*size)

# For reproducibility
np.random.seed(12345)

N = 100
X = np.c_[dnorm(0, 0.4, size=N),
          dnorm(0, 0.6, size=N),
          dnorm(0, 0.2, size=N)]
eps = dnorm(0, 0.1, size=N)
beta = [0.1, 0.3, 0.5]

y = np.dot(X, beta) + eps

In [47]:
eps

array([ 0.5525, -0.446 , -0.1196, -0.1094,  0.1202,  0.0598,  0.4185,
       -0.7161, -0.2893, -0.1515,  0.3311,  0.2922, -0.0361,  0.1283,
        0.0912, -0.1375,  0.1134, -0.1228,  0.6732,  0.4458, -0.0333,
        0.2215,  0.6618, -0.0433, -0.2942,  0.1036,  0.412 , -0.4457,
       -0.0456, -0.2266,  0.0328, -0.473 , -0.3715,  0.8266, -0.218 ,
       -0.2377,  0.2012, -0.3661,  0.1944,  0.323 ,  0.2113, -0.256 ,
       -0.2872,  0.4782,  0.0301,  0.3746,  0.2014, -0.1705, -0.0174,
       -0.3592, -0.0539, -0.3662,  0.3493,  0.2006,  0.3983,  0.3051,
       -0.1374, -0.2782, -0.2197,  0.3878,  0.1446,  0.0366,  0.3207,
       -0.3589, -0.0833,  0.4131, -0.5094, -0.3246,  0.3926, -0.0496,
       -0.7745, -0.327 ,  0.5058,  0.1499,  0.0479, -0.1715, -0.1504,
        0.0336, -0.4137,  0.6872,  0.1785, -0.0602, -0.29  , -0.3086,
        0.6996,  0.0234,  0.5751, -0.5001, -0.2449,  0.1749,  0.0335,
        1.242 , -0.0807,  0.2701, -0.1154,  0.0415, -0.2206,  0.4224,
       -0.0478,  0.1401])

In [48]:
y

array([ 0.4279, -0.6735, -0.0909, -0.4895, -0.1289, -0.045 ,  0.0876,
       -0.5046, -0.5458,  0.2653,  0.5978,  0.4527,  0.087 ,  0.0554,
       -0.0912,  0.1447, -0.1513, -0.0563,  1.2168, -0.0223, -0.6906,
        0.0852,  0.7344, -0.3527, -0.2547,  0.3078,  0.7038, -0.5332,
       -0.2207, -0.0968, -0.4969, -1.3334, -0.3769,  1.26  , -0.2948,
       -0.6145,  0.1873, -0.4078,  0.0573,  0.4745, -0.4352,  0.0315,
       -0.0564,  0.1213,  0.2235,  0.0596,  0.2581, -0.275 ,  0.3051,
       -0.2003,  0.0863, -0.4245,  0.2348, -0.3206,  0.6756, -0.3873,
       -0.3786, -0.1638, -0.1701,  0.3924, -0.1369,  0.1887, -0.1399,
        0.6137, -0.4083,  0.4687, -0.5963, -0.0771,  0.7082,  0.1474,
       -0.2524, -0.4508,  0.1486,  0.0276, -0.1538, -0.3791, -0.6927,
       -0.4175, -0.4004,  0.4613,  0.0241, -0.2985, -0.4436, -0.074 ,
        1.2439,  0.1765, -0.2986, -0.3386, -0.539 ,  0.2511, -0.2229,
        1.2876, -0.1681,  0.5865,  0.0675,  0.253 , -0.1486,  0.3485,
        0.2041,  0.402 ])

In [35]:
X[:5]

array([[-0.1295, -1.2128,  0.5042],
       [ 0.3029, -0.4357, -0.2542],
       [-0.3285, -0.0253,  0.1384],
       [-0.3515, -0.7196, -0.2582],
       [ 1.2433, -0.3738, -0.5226]])

In [36]:
y[:5]

array([ 0.4279, -0.6735, -0.0909, -0.4895, -0.1289])

In [37]:
X_model = sm.add_constant(X)
X_model[:5]

array([[ 1.    , -0.1295, -1.2128,  0.5042],
       [ 1.    ,  0.3029, -0.4357, -0.2542],
       [ 1.    , -0.3285, -0.0253,  0.1384],
       [ 1.    , -0.3515, -0.7196, -0.2582],
       [ 1.    ,  1.2433, -0.3738, -0.5226]])

In [38]:
model = sm.OLS(y, X)

In [39]:
results = model.fit()
results.params

array([0.1783, 0.223 , 0.501 ])

In [40]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.430
Model:                            OLS   Adj. R-squared (uncentered):              0.413
Method:                 Least Squares   F-statistic:                              24.42
Date:                Mon, 27 Dec 2021   Prob (F-statistic):                    7.44e-12
Time:                        10:11:24   Log-Likelihood:                         -34.305
No. Observations:                 100   AIC:                                      74.61
Df Residuals:                      97   BIC:                                      82.42
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1783      0.053      3.364      0.001       0.073       0.283
x2             0.2230      0.046      4.818      0.000       0.131       0.315
x3             0.5010      0.080      6.237      0.000       0.342       0.660
==============================================================================
Omnibus:                        4.662   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.097   Jarque-Bera (JB):                4.098
Skew:                           0.481   Prob(JB):                        0.129
Kurtosis:                       3.243   Cond. No.                         1.74
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
data = pd.DataFrame(X, columns=['col0', 'col1', 'col2'])
data['y'] = y
data[:5]

       col0      col1      col2         y
0 -0.129468 -1.212753  0.504225  0.427863
1  0.302910 -0.435742 -0.254180 -0.673480
2 -0.328522 -0.025302  0.138351 -0.090878
3 -0.351475 -0.719605 -0.258215 -0.489494
4  1.243269 -0.373799 -0.522629 -0.128941

In [42]:
results = smf.ols('y ~ col0 + col1 + col2', data=data).fit()
results.params

Intercept    0.033559
col0         0.176149
col1         0.224826
col2         0.514808
dtype: float64

In [43]:
results.tvalues

Intercept    0.952188
col0         3.319754
col1         4.850730
col2         6.303971
dtype: float64

In [44]:
results.predict(data[:5])

0   -0.002327
1   -0.141904
2    0.041226
3   -0.323070
4   -0.100535
dtype: float64

### Estimating Time Series Processes

In [52]:
init_x = 4

import random
values = [init_x, init_x]
N = 1000

b0 = 0.8
b1 = -0.4
noise = dnorm(0, 0.1, N)
for i in range(N):
    new_x = values[-1] * b0 + values[-2] * b1 + noise[i]
    values.append(new_x)
values

[4,
 4,
 1.5239259186004943,
 -0.32929765907526476,
 -1.058529579932304,
 -0.5839919422634523,
 0.09130619199413403,
 0.677436916817214,
 0.3942501062184828,
 0.5044078876666771,
 0.8919804688565234,
 -0.041358874581530425,
 -0.512333702166864,
 -0.45912220261937253,
 -0.5487809902217377,
 -0.2767084927720815,
 0.07056345240070924,
 -0.015086990166775283,
 0.21803003801485396,
 -0.06372982168353292,
 -0.559909587726604,
 -0.5201878266625373,
 -0.18315553919214744,
 0.41876312500969687,
 0.2899487200351789,
 0.06084837305377688,
 0.019005439039556815,
 -0.19936005112734528,
 0.014508205852043654,
 0.029965874911542033,
 0.08211844486903001,
 -0.10602585467518115,
 0.8166077282898706,
 -0.13606059063285314,
 -0.5469469984191534,
 -0.534229438266625,
 -0.15750410234586604,
 0.6211118678628107,
 0.819819232715918,
 0.19635842150328683,
 -0.022691683195220053,
 0.20888764514208696,
 0.34076525849118094,
 0.15145612595892088,
 -0.004548096672983625,
 -0.13555704203291033,
 -0.07318926746635465,
 0.09156462023796405,
 0.040645938736817426,
 0.23778497085869685,
 0.03171841020912716,
 0.2585444986554568,
 0.6916323032899407,
 0.8555740639409919,
 0.4966570542514953,
 -0.22699055353008352,
 -0.21658699924927555,
 -0.08495641734043555,
 -0.49956635923932563,
 0.07743632994616173,
 0.8178745455908967,
 0.8222109205453448,
 0.19660911983476162,
 0.07814063802253471,
 0.2803537805791525,
 -0.519527446068504,
 -1.0884095358211292,
 -0.9463929017151143,
 -0.10758116363406497,
 0.30403562152076896,
 0.3138049508304622,
 0.11467385122017464,
 0.2594353648232348,
 0.3141904809975369,
 -0.12663248600884694,
 -0.07081583489417864,
 -0.05515226314197013,
 0.4260651484672361,
 0.8394855332989719,
 0.12818992949286423,
 -0.09309918645106868,
 0.31559611206401006,
 0.12222386655667952,
 0.22052510832261743,
 0.2062221668526688,
 0.31180055626310976,
 0.567848207741972,
 0.7414119604977253,
 0.27992772078452033,
 -0.08891839337263588,
 -0.33101827663272965,
 -0.558382259611548,
 -0.17945308723586073,
 0.17875241554539206,
 -0.1380286199302797,
 0.20839501935305954,
 -0.3767214355423645,
 -0.9101809302155144,
 -0.5791880760613489,
 0.24927008659745709,
 0.7515869048733794,
 1.2190187559742922,
 0.7208525179157028,
 0.24984178637234025,
 -0.15067356400850346,
 -1.4048610877821903,
 -1.5443214711727666,
 -0.7831929464998593,
 -0.22921064235533056,
 0.5433229394786371,
 0.31015643979279206,
 0.3780102370357359,
 0.059266617066583996,
 0.2719311267457589,
 0.7609691954758444,
 0.9104350177575278,
 0.6825482956768583,
 0.07615097179175158,
 -0.7070193097822529,
 -0.14603576344674868,
 0.4318583432809311,
 -0.06353002350796455,
 0.043171680566917586,
 -0.047140015421950066,
 0.2291793313023785,
 0.29730586759356525,
 -0.31265579570412344,
 -0.21483910384765306,
 0.12801259819519556,
 0.3945152513364656,
 -0.28789417679490303,
 -0.12375611914226037,
 -0.14565549748917356,
 -0.11830866495660003,
 0.33172175301687634,
 0.09984002186713417,
 0.4086360755699036,
 1.0386527149675961,
 0.3667327153305424,
 -0.2062606741437239,
 -0.5044920066241919,
 -0.4061029033560951,
 -0.06123389216645902,
 0.38534349507736954,
 0.24953521240797324,
 0.4064174717502118,
 0.19308467544229696,
 -0.03234129368029209,
 -0.06489484139379882,
 0.301473570795245,
 0.4044429409265539,
 0.22081033712018616,
 -0.10494439488872287,
 -0.15715429622694393,
 0.024285940229544778,
 0.5781102160875212,
 0.43771519481271537,
 -0.14095575247775083,
 -0.3445597203689479,
 -0.2719728324068896,
 0.025618826415749377,
 -0.04293817248877088,
 -0.2512955444084867,
 -0.9146717415447005,
 -0.12137458255831768,
 0.013695136128894336,
 0.23592444730594325,
 0.36673718288989066,
 -0.1822927403627127,
 -0.2841230421413876,
 0.004591645170381992,
 0.6053323185875167,
 0.7631194587342517,
 -0.2778565325870943,
 -0.7834110746762531,
 -0.6533616377124916,
 0.48157277012108346,
 0.3055768887370905,
 0.7517274558445652,
 0.6205663226061349,
 0.1643142064678698,
 -0.2982873711263919,
 0.24203349058202045,
 0.20174767609698746,
 0.2586985164775655,
 0.06591569975105732,
 -0.3607799835972236,
 -0.8625590902707625,
 -0.48769020918345696,
 -0.16683362918521666,
 -0.3198713214273191,
 -0.7964351066092814,
 -0.5027297700941475,
 -0.5105327350412042,
 -0.0773453929494993,
 0.6460191288209245,
 1.1514744410303432,
 1.2178192896008686,
 0.4277103606391165,
 0.26297681012742574,
 -0.034143152253364895,
 0.003056202620454751,
 -0.21254273794332634,
 -0.047713842676633256,
 0.57168352505546,
 0.7527904677907487,
 0.0003431886852909849,
 -0.3668967515471683,
 -0.4674758790283804,
 -0.6234174322497066,
 -0.7154908181827834,
 0.2718481871041699,
 0.8541269492159,
 0.02053318976327001,
 -0.6331980840735386,
 -0.22740557767790426,
 -0.0896766824927149,
 -0.30440662243676136,
 -0.3380268899543364,
 -0.4879834416351495,
 -0.4453587330680133,
 -0.09083465912621598,
 0.40569058082588483,
 0.5835695564757045,
 -0.12516261080417684,
 0.029621626714367744,
 0.0225737090466926,
 -0.19219918019051146,
 0.032517174800194226,
 -0.35532962676442525,
 0.022464244978929737,
 -0.029570630554543814,
 0.24019132223213652,
 0.729498985440212,
 0.21851137398477288,
 -0.05126876160998549,
 -0.16863981945557038,
 -0.026026083217459015,
 0.2739172247913073,
 0.06144979923670335,
 -0.338765727192406,
 -0.41476995179306547,
 -0.5624007508872568,
 -0.3237410854177017,
 -0.4774583415331999,
 0.5142768074024069,
 -0.016150134991858467,
 -0.5023943588201921,
 -0.08251165882286193,
 0.48167827588680534,
 0.5620154521736268,
 -0.06506735868486091,
 0.43093260008295103,
 0.4992416814271608,
 0.6368387874421245,
 0.45808584956496756,
 -0.5824897092572745,
 -1.0355694590904685,
 -0.2908015679106378,
 0.21553085466051813,
 -0.10826763718462118,
 -0.34192588525416745,
 0.0731887989367084,
 -0.05993790510086161,
 -0.07891903068328024,
 0.01625642613867795,
 0.6265080373762334,
 -0.08153685729954385,
 -0.4343328353455359,
 0.24349300424208487,
 0.3006613792335249,
 0.04531775962873079,
 0.0295546414419212,
 0.2544581351228957,
 0.09696529352809742,
 -0.18293845529113162,
 -0.10963186853162858,
 0.04498049088563444,
 -0.27380903519946426,
 -0.11490599066433388,
 0.08847261842379436,
 -0.31307115875720126,
 0.060072462494300094,
 -0.22336396134811626,
 -1.1277220308743552,
 -0.6058364270704504,
 0.3545086287026154,
 0.6528026235766258,
 0.2511659261203607,
 0.6205147145767436,
 -0.2276370053793294,
 -0.614616442602517,
 -0.61663251885123,
 -0.3151906686801386,
 -0.21750075309902517,
 -0.017468060241283327,
 -0.199530971216449,
 0.2015699836351003,
 0.6905670099160713,
 0.44669675178428814,
 0.27058760513334507,
 -0.14591452403860958,
 0.29239856840825584,
 0.865526521737074,
 0.33468917952551813,
 -0.25811706652628486,
 -0.21562589153705364,
 0.2690241572096931,
 0.6027683740937732,
 0.20464100322363768,
 0.3403399161746379,
 0.23890639734491173,
 -0.6041024274969551,
 -0.5227168680615124,
 -0.13882546194930956,
 0.33462802558921645,
 0.47747108017624407,
 -0.2755059333245322,
 0.26392601191352255,
 0.09291976718534695,
 0.3036995127621124,
 0.5955273940409096,
 0.4105526205255015,
 -0.08372877507926405,
 0.15908209407999652,
 0.08624477440005997,
 0.3634306150985577,
 0.18407990464355867,
 -0.4434641606089933,
 -0.43037923803913897,
 -0.3434862334376887,
 -0.2475784129747982,
 -0.6756259546930349,
 0.08689514657755282,
 -0.2661890899903298,
 -0.20718128837414906,
 -0.3197687331367086,
 0.0856346860731339,
 0.31696731347705065,
 0.27249316716820404,
 0.021318013063857222,
 -0.520242693724982,
 -0.22106862131205993,
 -0.03242784915047635,
 0.3847374239688262,
 0.3877995105750566,
 0.03895745196971992,
 0.14356935387928726,
 -0.002977645759489833,
 -0.10359135604372474,
 0.14655599487865334,
 0.31731829848397475,
 0.5388202228543486,
 0.2558147939173985,
 0.41443229690233546,
 0.10144553731634787,
 -0.12842237482153854,
 -0.29438800924260417,
 -0.4357724488414329,
 -0.22866861585170775,
 -0.06307119149460275,
 -0.096779692252188,
 -0.48817146369879544,
 -0.44349235279583527,
 -0.08394126607131489,
 0.619195310682721,
 0.4391632463002042,
 -0.3149586781887907,
 -0.3191079049474622,
 0.5329600070112135,
 0.5895292563164445,
 0.17369931527306268,
 0.15097140555081393,
 0.18061993932116294,
 0.04692221274442371,
 0.05475114610370445,
 -0.007914868998938639,
 -0.17082712952737208,
 -0.008197015235186345,
 0.6895811641193647,
 0.32155282958944986,
 -0.471086454061444,
 -0.3585325159745304,
 0.5575742021524708,
 0.9202394324103665,
 0.9548848452230496,
 -0.004921158624561439,
 0.09082594708771607,
 -0.5780999533121121,
 -0.3844367575190267,
 -0.4654963041107001,
 -0.2885490527512699,
 0.3436205810469276,
 0.8291523008075492,
 0.41679058989769674,
 0.14309680956641213,
 0.03411588929389102,
 -0.07722314745199202,
 -0.2974775046739211,
 0.27716679778645326,
 0.2630137745355394,
 0.391927467975724,
 -0.10654452153261601,
 -0.28856461065214,
 0.09369768919366703,
 -0.18266245098324652,
 0.1665919524585912,
 0.4162542151351517,
 0.03225003913811522,
 -0.005881224084505976,
 -0.421220280857899,
 -0.13620802472569107,
 -0.017558120632222757,
 0.14207695594651548,
 0.4426181732967748,
 0.429746771208242,
 -0.07528477026845129,
 -0.4704200395106354,
 -0.3587508620828608,
 -0.046074850641493616,
 0.5811607148229659,
 0.5649422620981714,
 0.17855029436230996,
 -0.18693220374387232,
 -0.009054960916192845,
 -0.025384080669666784,
 0.1495272911323656,
 -0.15589025113085547,
 -0.1262689137361413,
 -0.36317593796330316,
 -0.1111728141046871,
 0.3131420030770603,
 0.5057010940940064,
 0.4684507492114843,
 0.29401840046158556,
 0.020546732541146074,
 -0.5572031854595738,
 -0.3274476408731487,
 0.031136532444462475,
 0.11379954929410147,
 0.2040398753043239,
 0.46700656366343085,
 0.13334271562126074,
 -0.21874394205683134,
 -0.070424935735003,
 -0.05257794255679449,
 -0.11707361547736043,
 -0.4341028999817091,
 -0.5254802725244518,
 -0.4678594653587496,
 -0.16411932583605973,
 0.31717792800798356,
 0.5467544458432037,
 0.43900718549498663,
 0.3391178731342932,
 -0.2559206770162227,
 0.14920183767668632,
 0.9308593879288017,
 0.35360051906870993,
 0.13094580677174092,
 -0.48903721882603024,
 -0.12458663790291102,
 0.19959434714603486,
 0.5736025880029729,
 0.37943725794081873,
 0.40863277858166863,
 -0.3413863115523421,
 -0.2936966299676911,
 -0.2308357415638822,
 -0.644573808350576,
 -0.20916063737502805,
 0.06458053085273732,
 0.6290851957023431,
 0.7765767446459353,
 0.18209355438124786,
 0.0012535447973874014,
 -0.6931919553643754,
 -0.565397265961951,
 0.22811898787528823,
 0.41253879380074504,
 0.15158680801804367,
 -0.6647683665910451,
 -1.1586469749437696,
 -0.46121977730849284,
 -0.36344456856027263,
 0.47503473198851065,
 0.6206911252927005,
 0.9720022004522308,
 0.2703072883445891,
 0.12720938424123754,
 -0.33326206471152814,
 0.16889405757353648,
 -0.3140938284857856,
 -0.37481080519333093,
 -0.21186094775630676,
 0.1863225700960763,
 0.6352650776855284,
 0.009465606066627164,
 -0.339293548661533,
 -0.3518933181004176,
 -1.1125022716569055,
 -0.14259218963734865,
 0.14788576828714373,
 0.7595592930799276,
 0.6919780840119071,
 0.15411558514286705,
 0.2900289184871978,
 0.553757017053721,
 -0.18323128607545075,
 -0.5495919543550911,
 -0.23201773890653757,
 0.4318930678531204,
 0.10143065536416163,
 -0.0042212077552959415,
 0.4873559674990759,
 0.17674877559373942,
 -0.09455726166890441,
 -0.7569593835953842,
 -0.7598965331320315,
 -0.36687946682936456,
 -0.6464774533365378,
 -0.23677714571419417,
 0.7021352829945132,
 1.0946836675511906,
 0.24556084096447917,
 -0.027307730774325745,
 0.057067783639089056,
 -0.20126478581625787,
 0.13394284421469071,
 0.3020716489721653,
 0.08040870852156576,
 0.08971790843517521,
 -0.23448911642183573,
 -0.016896227032715982,
 -0.5384014644645445,
 -0.4645897339007209,
 -0.37625667464407125,
 -0.5110172929584659,
 -0.30577977190081707,
 0.027665701345575167,
 -0.4722306099772451,
 -0.8121719706471251,
 -0.34345387097416474,
 0.5019171168725503,
 0.3514497501148536,
 -0.018411998257352125,
 -0.13998786920946152,
 -0.061618096801118113,
 -0.13182381375247104,
 -0.12873459893300673,
 0.07673494669118316,
 -0.5902525358279046,
 -0.6846175948150557,
 -0.06297168831922514,
 -0.217295419381974,
 -0.035039138304154754,
 0.4291580435418585,
 0.5719535409950854,
 0.24608002911855084,
 0.015700443964573797,
 -0.36556711455743435,
 -0.4949599584608182,
 -0.17786576776281598,
 0.3473370080731726,
 -0.3319947186200046,
 -0.520192997535266,
 -0.40220822688667573,
 -0.009353640994567272,
 0.46393416619530525,
 0.724609199039052,
 -0.11618801073446816,
 0.11102315442479949,
 0.26384333499046075,
 0.2802682754607363,
 -0.07562433359832224,
 -0.7075552252972307,
 -0.29587211425825943,
 -0.16942939918968308,
 -0.3456080929194921,
 -0.007874895013581185,
 -0.057801416053389426,
 -0.09341363831216373,
 -0.18367225314952876,
 0.2513973900368972,
 -0.37147217862879667,
 -0.3581969252982219,
 -0.07358218229566282,
 -0.19536226691677513,
 -0.13535626932691755,
 0.10957456392504437,
 0.45929422262242725,
 0.5395387393274833,
 0.35101774817912607,
 0.1995169463813648,
 -1.0649025381104402,
 -1.0254383765220578,
 -0.5335102656221854,
 -0.29085441314784954,
 -0.05104138198243452,
 0.39753414463272346,
 -0.06205011228343377,
 -0.1558947173977356,
 -0.05768457405695015,
 0.22872303222455825,
 0.3789356932327666,
 0.45800121447366693,
 -0.04123172456473842,
 -0.638297779217931,
 -0.002494427871365945,
 -0.2511458707960837,
 -0.5986010550208827,
 -0.8422592005595788,
 -0.2470220970993653,
 0.3696455325884632,
 0.42209089646684095,
 0.17172897154050942,
 -0.5661303601491209,
 -0.4233057553950334,
 -0.6647594752729751,
 0.05127122442454729,
 0.1945002403098572,
 0.39049006772856504,
 0.26777430289685134,
 0.21761157212570015,
 -0.30704810383112685,
 -0.3144433247038808,
 -0.028720772867947164,
 -0.4559133351776111,
 0.1099531295061894,
 0.30015962503433313,
 0.13450412573911222,
 0.05888716705225572,
 0.002777285804833527,
 -0.40071320726078047,
 -0.16341944680039064,
 0.002921113855564768,
 0.021850679430165873,
 -0.10454999335680822,
 0.09360941001153,
 0.955867272674184,
 0.3787953991198918,
 -0.2717172844494078,
 -0.47667232742332305,
 -0.21033182795128616,
 0.37972964046189106,
 0.04680431640701338,
 -0.031747705423981115,
 0.10563389962385238,
 -0.19998495347826956,
 0.18386549097039478,
 -0.04262383903905331,
 0.1258473332709012,
 0.22601734142131413,
 -0.15369232048270592,
 -0.1985099071460952,
 -0.6001046378387707,
 -0.01488692066264341,
 0.07563500018493638,
 0.1662854071144774,
 0.08764221405867559,
 -0.14001350524823153,
 -0.3231350481749194,
 -0.12239551154676513,
 0.11753997311523487,
 0.1050082506636518,
 0.1507662242280531,
 -0.363785163662089,
 -0.22410556883302882,
 -0.048267224650126894,
 0.557536811694929,
 0.6153001882068808,
 0.5845411509876395,
 -0.07938861028102026,
 -0.20728710874915696,
 -0.31793230553269114,
 -0.1805132029039194,
 0.12146894393398244,
 0.0169336116595038,
 -0.09363151004240713,
 -0.260593997496255,
 -0.34897629457212215,
 -0.27260629852754237,
 -0.5931575850213111,
 -0.3163306564971526,
 -0.15847449665942143,
 -0.05565381067979238,
 -0.05272891024903395,
 0.11003999692037045,
 0.5715655003548187,
 0.4604094772171639,
 -0.10507626733979053,
 -0.3231258109994294,
 0.12583011474989392,
 0.0400436797037059,
 0.3253933033168329,
 -0.21362215897362516,
 -0.00801270838631113,
 -0.19126163266314633,
 -0.047272916687634475,
 -0.13757960983900686,
 -0.026967874679801412,
 -0.5808946974601809,
 -0.5157329687123129,
 0.133436002588238,
 0.6808846126222807,
 0.29230461873114927,
 -0.05795963533052223,
 -0.5836164847917176,
 -0.215046493473214,
 0.5197291747761186,
 0.8942608405675234,
 0.6234296166632812,
 0.4013110409227162,
 0.23485452228940146,
 -0.11357089921995167,
 -0.062846361338102,
 -0.02659865613088101,
 -0.09410206250284248,
 0.06736866387797526,
 -0.22754647441240128,
 -0.37029956890937726,
 -0.4085947918148475,
 -0.07261750501061365,
 0.05094452935398107,
 0.7270493581447236,
 0.630295930249067,
 0.3305252746361374,
 -0.2553406979367293,
 0.10403739068623197,
 0.2603229418231229,
 0.6015217419732402,
 0.6514567670309146,
 0.6492145941340003,
 0.3403929057388956,
 0.23819853370552044,
 -0.06258276659539673,
 -0.4063920348970463,
 -0.034407146536065636,
 0.4479238608383832,
 0.6985841345749122,
 0.22960604542162702,
 -0.37326576165711156,
 -0.4350988465496878,
 0.25471729252118214,
 0.5191636026010662,
 -0.02727982842308102,
 -0.29221752675657375,
 -0.44799092826318765,
 -0.27572036185780474,
 0.26428085629848075,
 0.35381896292287907,
 0.47313596911472167,
 0.3449447877286659,
 -0.013506502121467354,
 -0.0230790580889165,
 0.002166746774890569,
 0.08362445842739044,
 -0.10217595131817564,
 -0.22965320142003423,
 -1.016443975816469,
 -0.16720338541934054,
 0.29829058333249703,
 0.7807620398425784,
 0.06226093490945667,
 0.08697719579957047,
 -0.3106062836352077,
 0.10396180486251372,
 0.6791362906996015,
 0.34271690382495684,
 -0.2960668450231526,
 -0.49390459307177476,
 -0.7942804552525596,
 -0.4938134432610523,
 0.4406921127237003,
 0.44666083094563186,
 0.2533422316330953,
 0.5854872324972098,
 -0.3363681030350385,
 -0.06235102374825552,
 0.6471776982432109,
 0.22913331386535551,
 -0.6748613299063614,
 -0.5636735815301435,
 -0.257152936784257,
 -0.2725636566965183,
 -0.12171704824439039,
 -0.24982070420739283,
 -0.2901334452638413,
 -0.040728555562726476,
 0.18402408133002407,
 0.17482762715876218,
 0.3933495425075795,
 0.08444439856939573,
 0.2987517933812384,
 -0.1361916016568685,
 -0.7039546409066053,
 -0.561610882345489,
 -0.22585761790869283,
 -0.27324138503595063,
 -0.22081571705750283,
 -0.3300163296726813,
 -0.2615433947971276,
 0.18384399880506433,
 0.6063605903845423,
 0.5671388902283092,
 0.45118458080120727,
 -0.0057323792609499935,
 0.2212438284488508,
 0.43266879781205736,
 0.5818329933953221,
 0.327658209518181,
 -0.07639763927654288,
 -0.5006291892116452,
 -0.42128700102704764,
 -0.358946170212602,
 -0.4065688848264948,
 -0.08593884178901755,
 0.4375722501838705,
 0.5173723371133987,
 0.5754176913466129,
 0.07082825230989911,
 -0.25772847615591205,
 0.3239953612495814,
 0.15239106063426303,
 -0.05482659531197898,
 -0.10943769745043609,
 -0.16174784520484864,
 0.009470238094142394,
 -0.1205743236306782,
 -0.22095454758029465,
 -0.057988897115682586,
 0.1192954773932784,
 0.10721466803679605,
 0.7379114719690895,
 0.2520345703869184,
 0.17893487076838938,
 0.3149363206837971,
 -0.17284581285348932,
 -0.48116872669404964,
 -0.6190167447057142,
 -0.6826529433444861,
 -0.8093825604055791,
 -0.7300565673929068,
 -0.6553070359670805,
 -0.5154858545829859,
 -0.17727800125016902,
 0.1513799651682577,
 0.5649196106321555,
 -0.6156045867777228,
 -0.2852538069039932,
 -0.32185310175894544,
 -0.17182138432345742,
 -0.5675769104018876,
 -0.4566436667730579,
 0.043347777740450205,
 -0.2032366491451511,
 -0.28435355769603404,
 -0.3424427197747788,
 -0.3049216351011099,
 -0.2961275449657329,
 -0.2395220103729334,
 -0.3654651698933734,
 -0.09902264459489513,
 -0.21332779314639916,
 -0.21089826789112603,
 0.36640166167400234,
 0.41832591047815587,
 0.0820848104689015,
 0.48229547523468586,
 0.583740186050406,
 1.040519123725995,
 0.5713806620117725,
 0.12267781555168505,
 -0.15807073233508576,
 0.011084362400579917,
 -0.31356913592940433,
 -0.16902593061729562,
 -0.8609467075320187,
 -0.12537150599604413,
 0.32789144267838843,
 0.018555769343647832,
 0.16373536527895632,
 -0.36885769319685385,
 -1.072800132295376,
 -1.043298509723896,
 -0.3846546219060518,
 -0.24073877342152006,
 0.7561186730171829,
 0.6076314355885316,
 0.3769580867516493,
 0.19314988491995982,
 -0.06321580898377181,
 0.3504171124035285,
 0.9497701016765165,
 0.7016552105047688,
 0.37945135439600813,
 0.5065715057242524,
 0.20501355564396065,
 -0.06683714711102708,
 -0.3342670345157076,
 0.4426751327125939,
 0.7400254975977034,
 0.6410856975530198,
 0.6945322129452123,
 0.46802991280298056,
 0.44247142356825614,
 -0.003570967985261936,
 0.004319321057180858,

In [53]:
MAXLAGS = 5
model = sm.tsa.AR(values)
results = model.fit(MAXLAGS)

In [54]:
results.params

array([ 0.0102,  0.7318, -0.32  , -0.0672,  0.0067, -0.0143])

### ARIMA

In [55]:
from statsmodels.tsa.arima.model import ARIMA
from random import random
# contrived dataset
data = [x + random() for x in range(1, 100)]
data

[1.7373505599869747,
 2.5481161158559855,
 3.33606405931503,
 4.448390104967511,
 5.497359792437154,
 6.0561714533624,
 7.820550906090741,
 8.650661573083365,
 9.95924356789412,
 10.481055366109572,
 11.22180278000399,
 12.020075918975296,
 13.85013567264662,
 14.783204427666789,
 15.15198950297594,
 16.351774112776578,
 17.39204834594581,
 18.500878783692354,
 19.48792821143781,
 20.10497071454212,
 21.72421013493498,
 22.990266129633653,
 23.171681004301792,
 24.59527095930655,
 25.31842219125594,
 26.296086741605258,
 27.14399794391812,
 28.163595082139302,
 29.91132727100939,
 30.097450276253287,
 31.846654883800735,
 32.988995790123106,
 33.008250901275616,
 34.84100338384953,
 35.6029967263188,
 36.568561171568525,
 37.07299420856423,
 38.91554435880022,
 39.59639870776305,
 40.69682325690507,
 41.70533695956636,
 42.48181339946387,
 43.0692905796393,
 44.920654779337774,
 45.540238640113046,
 46.96134434285732,
 47.293722444984695,
 48.294719551133035,
 49.041379487876476,
 50.62571025713431,
 51.32111256556512,
 52.14222069687793,
 53.56383122892908,
 54.93686542623605,
 55.57296616449628,
 56.077472190442734,
 57.10378900125024,
 58.52310621102212,
 59.882977426607546,
 60.72817088182959,
 61.13126490185861,
 62.486236889069644,
 63.25021346147857,
 64.22782537763396,
 65.3673525248497,
 66.95939875625024,
 67.9594456164814,
 68.85859908559058,
 69.59876493559848,
 70.50103330550745,
 71.88864339191394,
 72.07420310863257,
 73.46377275059517,
 74.7946977909743,
 75.44549899612903,
 76.02082325033825,
 77.84821788530557,
 78.16251237230259,
 79.79061834260084,
 80.4644334340484,
 81.05806059788803,
 82.64254973014005,
 83.9965131740354,
 84.85115505773871,
 85.78854651469233,
 86.51916577124403,
 87.94175389892837,
 88.99676158320229,
 89.52072200285426,
 90.50635152631429,
 91.46590729556502,
 92.92168398308232,
 93.94452764792518,
 94.42895530522823,
 95.2321960861151,
 96.17720518247256,
 97.53315825782241,
 98.55519261343846,
 99.28613244459126]

In [56]:
# fit model
model = ARIMA(data, order=(1, 1, 1))
model_fit = model.fit()
# make prediction
yhat = model_fit.predict(len(data), len(data), typ='levels')
print(yhat)

D:\python\anaconda3\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:963: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

[100.2796]

## Introduction to scikit-learn

In [57]:
train = pd.read_csv('datasets/titanic/train.csv')
test = pd.read_csv('datasets/titanic/test.csv')
train[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [58]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [59]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [60]:
impute_value = train['Age'].median()
train['Age'] = train['Age'].fillna(impute_value)
test['Age'] = test['Age'].fillna(impute_value)

In [61]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)
test['IsFemale'] = (test['Sex'] == 'female').astype(int)
train[:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsFemale
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [63]:
predictors = ['Pclass', 'IsFemale', 'Age']
X_train = train[predictors].values
X_test = test[predictors].values
y_train = train['Survived'].values

In [64]:
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [65]:
y_train[:5]

array([0, 1, 1, 1, 0], dtype=int64)

In [66]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [67]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [68]:
y_predict = model.predict(X_test)
y_predict[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

(y_true == y_predict).mean()

In [ ]:
from sklearn.linear_model import LogisticRegressionCV
model_cv = LogisticRegressionCV(10)
model_cv.fit(X_train, y_train)

In [ ]:
from sklearn.model_selection import cross_val_score
model = LogisticRegression(C=10)
scores = cross_val_score(model, X_train, y_train, cv=4)
scores

## Continuing Your Education

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS